*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-auto {
  width: auto;
}

main {
  padding-block: 128px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main svg {
  width: 136px;
}

.container {
  max-width: 1440px;
  padding-inline: 32px;
  margin-inline: auto;
}
@media screen and (max-width: 1140px) and (min-width: 960px) {
  .container {
    padding-inline: 72px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    padding-inline: 112px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1140px) {
  .button-container {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1140px) {
  .text-container {
    padding-inline: 208px;
  }
}

.keepTrack__content {
  padding-inline: 36px;
}
.keepTrack__content > div {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 72px;
}
@media screen and (min-width: 1140px) {
  .keepTrack__content {
    margin-inline: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-inline: 0;
  }
  .keepTrack__content img {
    margin-left: -240px;
  }
  .keepTrack__content > div {
    margin-inline-start: 120px;
    gap: 80px;
  }
  .keepTrack__content > div h3,
  .keepTrack__content > div p {
    text-align: left;
  }
  .keepTrack__content > div p {
    display: inline-block;
    padding-inline-end: 168px;
  }
}

.workflow__itensContainer {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-inline: 36px;
  margin-block-start: 96px;
}
@media screen and (min-width: 1140px) {
  .workflow__itensContainer {
    margin-block-start: 96px;
    flex-direction: row;
    gap: 40px;
  }
  .workflow__itensContainer div {
    flex: 1;
  }
}

.companiesBrand__container {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
@media screen and (min-width: 1140px) {
  .companiesBrand__container {
    padding-inline: 24px;
    flex-direction: row;
    justify-content: space-between;
  }
  .companiesBrand__container img {
    width: 180px;
  }
}

.mt-section {
  margin-block-start: 144px;
}

p {
  margin-block-start: 16px;
}
@media screen and (min-width: 1140px) {
  p {
    margin-block-start: 18px;
  }
}

.mt-3 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 72px;
}

.gap-3 {
  gap: 32px;
}

h1 {
  color: hsl(210, 10%, 33%);
  font-size: 42px;
  line-height: 100%;
  text-align: center;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 32px;
    line-height: 120%;
    text-align: center;
  }
}

h2 {
  color: hsl(210, 10%, 33%);
  font-size: 36px;
  line-height: 110%;
  text-align: center;
}
@media screen and (max-width: 960px) {
  h2 {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
  }
}

h3 {
  color: hsl(210, 10%, 33%);
  font-size: 28px;
  line-height: 120%;
  text-align: center;
}
@media screen and (max-width: 960px) {
  h3 {
    font-size: 26px;
    line-height: 120%;
    text-align: center;
  }
}

h4 {
  color: hsl(210, 10%, 33%);
  text-align: center;
}
@media screen and (max-width: 960px) {
  h4 {
    text-align: center;
  }
}

p {
  color: #767576;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}
@media screen and (max-width: 960px) {
  p {
    font-size: 18px;
    line-height: 145%;
    text-align: center;
  }
}

.btn-ios,
.btn-mac {
  display: block;
  padding: 16px 0;
  border-radius: 32px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.25s ease;
}
@media screen and (min-width: 1140px) {
  .btn-ios,
  .btn-mac {
    display: inline-block;
    font-size: 20px;
    width: 260px;
    padding-block: 18px;
  }
}
.btn-ios:hover,
.btn-mac:hover {
  transform: scale(1.02);
  filter: brightness(1.08);
}

.btn-mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: inset 0px -2.5px 1px rgba(0, 0, 0, 0.25), 0px 2px 16px hsla(233, 100%, 69%, 0.5);
}

.btn-ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: inset 0px -2.5px 1px rgba(0, 0, 0, 0.25), 0px 2px 16px hsla(171, 66%, 44%, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-size: 18px;
  scroll-behavior: smooth;
  font-family: "Bai Jamjuree", sans-serif;
  background-color: #FFF;
}

svg,
img {
  display: block;
  width: 100%;
}

.debug {
  border: 1px solid red;
}

.page-background {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.page-background img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.accessClipboard__fixImageCanvas {
  margin-bottom: -64px;
}

footer {
  background-color: #F5F6F8;
  padding-block: 48px;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer__leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
footer .socialLink__container {
  margin-block-start: 48px;
}
footer svg {
  width: 64px;
}
footer ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer ul li a {
  color: #232224;
  text-decoration: none;
  transition: 0.25s ease;
}
footer ul li a:hover {
  color: hsl(171, 66%, 44%);
}
footer .socialLink__container a svg path {
  transition: 0.25s ease;
}
footer .socialLink__container a:hover svg path {
  fill: hsl(171, 66%, 44%);
}
@media screen and (min-width: 1140px) {
  footer {
    padding-block-start: 48px;
    padding-inline: 24px 56px;
  }
  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .socialLink__container {
    margin-block-start: 0;
  }
  footer .footer__leftContainer {
    flex-direction: row;
    align-items: flex-start;
    gap: 120px;
  }
  footer ul {
    flex-wrap: wrap;
    max-height: 100px;
    text-align: left;
    -moz-column-gap: 120px;
         column-gap: 120px;
  }
}/*# sourceMappingURL=style.css.map */